
.card {
  width: 90vw; 
  max-width: 60rem; 
  height: auto; 
  
  margin-left: auto; 
  margin-right: auto;
}

.certimgsize {
  width: 275px;
  height: 100px;
}

.mycard
{
  width: 90vw; 
  max-width: 60rem; 
  height: auto; 
  padding: 0 15px;
  border: 1px solid #cdcdcd4d;
  background-color: rgba(255, 255, 255, 0);
}
.mycard::after
{
  content: "";
  background-color: #cdcdcd4d;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 20px;
  left: 20px;
  transition: 0.2s;
}

.mycard::-webkit-scrollbar {
  width: 6px;
}

.mycard::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 6px;
}

.mycard::-webkit-scrollbar-track {
  background: transparent;
}

.full-height-card {
  grid-template-rows: repeat(10, 50px); 
  height: 33rem; 
  overflow-y: auto;        
}

/* responsive content */
@media (max-width: 768px) {
  .card {
    width: 95vw; 
    height: 45rem;
    margin-top: 1rem;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-text {
    font-size: 0.9rem; 
  }

  .btn {
    padding: 0.3rem 0.6rem; 
    font-size: 0.9rem; 
  }
  .mycard::after {
    content: "";
    background-color: #ffffff00;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 20px;
    left: 20px;
    transition: 0.2s;
  }

  .full-height-card {
    height: 90vh;         
    overflow-y: auto;      
    /*padding: 0;
    margin: 0; */
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  .certimgsize {
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 425px) {
  .card-title {
    font-size: 1rem; 
  }

  .card-text {
    font-size: 0.85rem; 
  }

  .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem; 
  }
}