<div class="card sidebarcardresp bg-dark text-light" style="display: grid;">
    <div class="row text-center" style="height: 4rem; padding-top: 5px;">
        <div class="col-1 grid"></div>
        <div *ngFor="let item of sidebaritems" (click)="handleClick(item.val)" (click)="onButtonClick()" id="sidebarbtn" class="col-2 px-0">
            <i class="grid-1 bi bi-{{ item.icon }}" style="font-size: large;"></i>
            <p class="grid-1 mt-1" style="font-size: x-small;">{{ item.name }}</p>
        </div>
        <div class="col-1"></div>
    </div>
</div>

<div class="sidebarcard card bg-dark text-light text-center" style="height: 20rem; width:7.5%; position: absolute; left:-8%">
    <div class="p-0 card-body" style="display: grid; overflow: hidden; border-radius: 11px; cursor:pointer; user-select: none;" *ngFor="let item of sidebaritems"
    [ngStyle]="{'background-color': clickedItem === item.val ? '#5a5a5a7a' : 'transparent'}"
    (click)="handleClick(item.val)" (click)="onButtonClick()" id="sidebarbtn">
        <ng-container>
            <div id="sidebarbtn{{item.val}}" class="sidebarbtn grid-1" [style.borderBottom] = "item === sidebaritems[sidebaritems.length-1] ? 'none' : '#4d4b4b solid 1px'" 
            [style.backgroundColor] = "item === sidebaritems[0] ? '#5a5a5a7a' : 'transparent' ">
                <div style="display:grid; font-size: smaller; font-family: monospace;">
                    <i class="grid-1 bi bi-{{ item.icon }}" style="font-size: larger;"></i>
                    <i class="grid-1">{{ item.name }}</i>
                </div>
            </div>
        </ng-container>     
    </div>
</div>