:host {
  display: block;
  width: 100%;
  height: 100%;
}
.cardposition {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}
.sidebarcardresp {
  display: none !important;
}

.sidebarbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* responsive content */
@media (max-width: 768px) {
  .sidebarcard {
    display: none;
  }
    .sidebarcardresp {
    display: block !important;
  }

  .cardposition {
    position: fixed;
    top: 1%;
    left: 4.3%;
    width: 92%;
  }
}