.sidebarcardresp {
  display: none !important;
}

/* responsive content */
@media (max-width: 768px) {
  .sidebarcard {
    display: none;
  }
    .sidebarcardresp {
    display: block !important;
  }

  .cardposition {
    position: fixed;
    top: 1%;
    left: 4.3%;
    width: 92%;
  }
}